.about-container {
      @include flex($just: space-between);
      padding: 112px 235px 95px 140px;

      .about__left {
            @include flex(column, start, start);

            h2 {
                  margin-bottom: 4px;
                  width: 243px;

                  &::after,
                  &::before {
                        content: "";
                  }
            }
            .about__subtitle {
                  color: $dark;
                  margin-bottom: 50px;
                  white-space: nowrap;
            }
            img {
                  width: 348px;
                  height: 302px;
                  transition: 2s;

                  &.element-hide {
                        opacity: 0;
                        transform: rotate(-90deg);
                  }
            }
      }
      .about__content {
            @include flex(column, start, start);
            max-width: 495px;
            height: 520px;

            .content__title {
                  margin-bottom: 40px;
                  transform: translateY(0px);
                  transition: 1s;

                  &.element-hide {
                        opacity: 0;
                        transform: translateY(-80px);
                  }
            }
            .content__text {
                  margin-bottom: 110px;
                  line-height: 175%; /* 35px */
                  transform: translateY(0px);
                  transition: 1s 0.5s;

                  &.element-hide {
                        opacity: 0;
                        transform: translateX(40px);
                  }
            }
            .content__btn {
                  transition: 1s 1s;

                  &.element-hide {
                        opacity: 0;
                  }
            }
      }
}
