.header {
      background: $dark;
      height: 140px;
}
.header-container {
      @include flex($just: space-between);
      padding: 40px 76px 40px 100px;
      height: 100%;

      a {
            color: $light-text;
            font-size: 0.9em;
            transition: 0.5s;

            &:hover{
                  color: $accent;
            }
      }
      .header__nav {
            .nav__list {
                  @include flex($gap: 43px);

                  .nav__item {
                        @include flex($gap: 10px);

                        img {
                              width: 26px;
                              height: 26px;
                              transition: 0.5s;
                        }
                        &:hover {
                              img {
                                    transform: rotate(-180deg);
                              }
                        }
                  }
            }
      }
      .header__languages {
            @include flex($gap: 18px);

            .languages__item.active {
                  a{
                        color: $accent;
                  }
            }
      }
}
