.hero {
      position: relative;
      background-image: url("../assets/hero-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}
.hero-container {
      @include flex(column, start, start);
      padding: 120px 74px 80px 100px;
      z-index: 10;

      .hero__title {
            margin-bottom: 5px;
      }
      .hero__subtitle {
            margin-bottom: 120px;
            color: $white;
            font-size: 1.5em;
            line-height: 135%;
      }
      .hero__links {
            align-self: flex-end;
            @include flex(column, start, start, 20px);

            .links__item {
                  @include flex($gap: 10px);

                  a {
                        color: $white;
                        text-decoration: underline;
                        transition: 0.5s;
                  }
                  path {
                        transition: 0.5s;
                  }
                  &:hover {
                        a {
                              color: $accent;
                        }
                        path {
                              fill: $accent;
                        }
                  }
            }
      }
}
