.projects-container {
      padding: 107px 170px 150px 140px;

      .projects__title {
            margin-bottom: 4px;

            &:after,
            &::before {
                  content: "";
            }
      }
      .projects__subtitle {
            margin-bottom: 92px;
      }
      .projects__list {
            @include flex(row, space-between, start);
            flex-wrap: wrap;

            .project__item {
                  @include flex(column);
                  width: 335px;
                  margin-bottom: 40px;
                  overflow: hidden;
                  transform: translateY(0px);
                  transition: 1s;

                  &:nth-child(2),
                  &:nth-child(5) {
                        transition: 1s 0.5s;
                  }
                  &:nth-child(3),
                  &:nth-child(6) {
                        transition: 1s 1s;
                  }
                  &.element-hide {
                        opacity: 0;
                        transform: translateY(-40px);
                  }
                  .item__img {
                        margin-bottom: 20px;
                        scale: 1.22;
                  }
                  .item__subtitle {
                        color: $dark;
                        font-size: 0.8rem;
                        line-height: 175%; /* 29.106px */
                  }
            }
      }
}
