.projects-container {
      padding: 107px 170px 150px 140px;

      .projects__title {
            margin-bottom: 4px;

            &:after,
            &::before {
                  content: "";
            }
      }
      .projects__subtitle {
            margin-bottom: 92px;
      }
      .projects__list {
            @include flex(row, space-between, start);
            flex-wrap: wrap;

            .project__item {
                  @include flex(column);
                  width: 335px;
                  margin-bottom: 40px;

                  .item__img {
                        margin-bottom: 20px;
                  }
                  .item__subtitle {
                        color: $dark;
                        font-size: 0.8rem;
                        line-height: 175%; /* 29.106px */
                  }
            }
      }
}
