.services-container {
      padding: 70px 170px 124px 122px;
      @include flex(column, start, start, 94px);

      h2 {
            &::after,
            &::before {
                  content: "";
            }
      }
      .services__list {
            @include flex(row, space-between, start);
            flex-wrap: wrap;
            
            .services__item {
                  @include flex(column, start, start, 10px);
                  width: 495px;
                  margin-bottom: 90px;
                        transform: translateY(0px);
                  transition: 1s;

                  &:nth-child(2n){
                        transition: 1s .5s;
                  }
                  &.element-hide{
                        opacity: 0;
                        transform: translateY(-20px);
                  }
                  .item__img {
                        width: 100px;
                        height: 100px;
                        margin-left: -16px;
                  }
                  .item__subtitle {
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        letter-spacing: 3.5px;
                        margin-bottom: 20px;
                  }
                  .item__text{
                        line-height: 175%; /* 35px */
                  }
            }
      }
}
