h1 {
      color: $white;
      font-size: 4em;
      font-weight: 400;

      b {
            color: $white;
      }
}
h2 {
      position: relative;
      width: fit-content;
      padding-bottom: 22px;
      font-weight: 400;

      &,
      b {
            color: $dark;
            font-size: 2.2rem;
      }
      &::before {
            position: absolute;
            bottom: 13px;
            left: 0;
            width: 65%;
            height: 5px;
            background: $accent;
      }
      &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 65%;
            height: 5px;
            background: $accent;
      }
}
h3 {
      color: #26292e;
      font-weight: 400;
      font-size: 1.6rem;
}
h4 {
      color: $dark;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 147.5%; /* 38.35px */
}
h5 {
}
