@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-BoldItalic.eot");
  src: local("PFDinDisplayPro-BoldItalic"), url("../font/PFDinDisplayPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-BoldItalic.woff") format("woff"), url("../font/PFDinDisplayPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-BlackItalic.eot");
  src: local("PFDinDisplayPro-BlackItalic"), url("../font/PFDinDisplayPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-BlackItalic.woff") format("woff"), url("../font/PFDinDisplayPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Thin.eot");
  src: local("PFDinDisplayPro-Thin"), url("../font/PFDinDisplayPro-Thin.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Thin.woff") format("woff"), url("../font/PFDinDisplayPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-ThinItalic.eot");
  src: local("PFDinDisplayPro-ThinItalic"), url("../font/PFDinDisplayPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-ThinItalic.woff") format("woff"), url("../font/PFDinDisplayPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Italic.eot");
  src: local("PFDinDisplayPro-Italic"), url("../font/PFDinDisplayPro-Italic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Italic.woff") format("woff"), url("../font/PFDinDisplayPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-MediumItalic.eot");
  src: local("PFDinDisplayPro-MediumItalic"), url("../font/PFDinDisplayPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-MediumItalic.woff") format("woff"), url("../font/PFDinDisplayPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-LightItalic.eot");
  src: local("PFDinDisplayPro-LightItalic"), url("../font/PFDinDisplayPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-LightItalic.woff") format("woff"), url("../font/PFDinDisplayPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Black.eot");
  src: local("PFDinDisplayPro-Black"), url("../font/PFDinDisplayPro-Black.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Black.woff") format("woff"), url("../font/PFDinDisplayPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Regular.eot");
  src: local("PFDinDisplayPro-Regular"), url("../font/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Regular.woff") format("woff"), url("../font/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Light.eot");
  src: local("PFDinDisplayPro-Light"), url("../font/PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Light.woff") format("woff"), url("../font/PFDinDisplayPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Bold.eot");
  src: local("PFDinDisplayPro-Bold"), url("../font/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Bold.woff") format("woff"), url("../font/PFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Medium.eot");
  src: local("PFDinDisplayPro-Medium"), url("../font/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Medium.woff") format("woff"), url("../font/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #646D70;
  text-decoration: none;
  font-family: "PF DinDisplay Pro";
}

html {
  font-size: 20px;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 400;
}
h1 b {
  color: #fff;
}

h2 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 22px;
  font-weight: 400;
}
h2,
h2 b {
  color: #26292E;
  font-size: 2.2rem;
}
h2::before {
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 65%;
  height: 5px;
  background: #936F49;
}
h2::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 5px;
  background: #936F49;
}

h4 {
  color: #26292E;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 147.5%; /* 38.35px */
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 17px 0;
  background: #936F49;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  transition: 0.5s;
}
.btn:hover {
  background: #715538;
}

.header {
  background: #26292E;
  height: 140px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  padding: 40px 76px 40px 100px;
  height: 100%;
}
.header-container a {
  color: #BEB8B1;
  font-size: 0.9em;
  transition: 0.5s;
}
.header-container a:hover {
  color: #936F49;
}
.header-container .header__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
.header-container .header__nav .nav__list .nav__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-container .header__nav .nav__list .nav__item img {
  width: 26px;
  height: 26px;
  transition: 0.5s;
}
.header-container .header__nav .nav__list .nav__item:hover img {
  transform: rotate(-180deg);
}
.header-container .header__languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.header-container .header__languages .languages__item.active a {
  color: #936F49;
}

.hero {
  position: relative;
  background-image: url("../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  padding: 120px 74px 80px 100px;
  z-index: 10;
}
.hero-container .hero__title {
  margin-bottom: 5px;
}
.hero-container .hero__subtitle {
  margin-bottom: 120px;
  color: #fff;
  font-size: 1.5em;
  line-height: 135%;
}
.hero-container .hero__links {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.hero-container .hero__links .links__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero-container .hero__links .links__item a {
  color: #fff;
  text-decoration: underline;
  transition: 0.5s;
}
.hero-container .hero__links .links__item path {
  transition: 0.5s;
}
.hero-container .hero__links .links__item:hover a {
  color: #936F49;
}
.hero-container .hero__links .links__item:hover path {
  fill: #936F49;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  padding: 112px 235px 95px 140px;
}
.about-container .about__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
}
.about-container .about__left h2 {
  margin-bottom: 4px;
  width: 243px;
}
.about-container .about__left h2::after, .about-container .about__left h2::before {
  content: "";
}
.about-container .about__left .about__subtitle {
  color: #26292E;
  margin-bottom: 50px;
  white-space: nowrap;
}
.about-container .about__left img {
  width: 348px;
  height: 302px;
}
.about-container .about__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  max-width: 495px;
  height: 520px;
}
.about-container .about__content .content__title {
  margin-bottom: 40px;
}
.about-container .about__content .content__text {
  margin-bottom: 110px;
  line-height: 175%; /* 35px */
}/*# sourceMappingURL=main.css.map */