@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-BoldItalic.eot");
  src: local("PFDinDisplayPro-BoldItalic"), url("../font/PFDinDisplayPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-BoldItalic.woff") format("woff"), url("../font/PFDinDisplayPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-BlackItalic.eot");
  src: local("PFDinDisplayPro-BlackItalic"), url("../font/PFDinDisplayPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-BlackItalic.woff") format("woff"), url("../font/PFDinDisplayPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Thin.eot");
  src: local("PFDinDisplayPro-Thin"), url("../font/PFDinDisplayPro-Thin.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Thin.woff") format("woff"), url("../font/PFDinDisplayPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-ThinItalic.eot");
  src: local("PFDinDisplayPro-ThinItalic"), url("../font/PFDinDisplayPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-ThinItalic.woff") format("woff"), url("../font/PFDinDisplayPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Italic.eot");
  src: local("PFDinDisplayPro-Italic"), url("../font/PFDinDisplayPro-Italic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Italic.woff") format("woff"), url("../font/PFDinDisplayPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-MediumItalic.eot");
  src: local("PFDinDisplayPro-MediumItalic"), url("../font/PFDinDisplayPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-MediumItalic.woff") format("woff"), url("../font/PFDinDisplayPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-LightItalic.eot");
  src: local("PFDinDisplayPro-LightItalic"), url("../font/PFDinDisplayPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-LightItalic.woff") format("woff"), url("../font/PFDinDisplayPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Black.eot");
  src: local("PFDinDisplayPro-Black"), url("../font/PFDinDisplayPro-Black.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Black.woff") format("woff"), url("../font/PFDinDisplayPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Regular.eot");
  src: local("PFDinDisplayPro-Regular"), url("../font/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Regular.woff") format("woff"), url("../font/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Light.eot");
  src: local("PFDinDisplayPro-Light"), url("../font/PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Light.woff") format("woff"), url("../font/PFDinDisplayPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Bold.eot");
  src: local("PFDinDisplayPro-Bold"), url("../font/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Bold.woff") format("woff"), url("../font/PFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../font/PFDinDisplayPro-Medium.eot");
  src: local("PFDinDisplayPro-Medium"), url("../font/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../font/PFDinDisplayPro-Medium.woff") format("woff"), url("../font/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #646D70;
  text-decoration: none;
  font-family: "PF DinDisplay Pro";
}

html {
  font-size: 20px;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 400;
}
h1 b {
  color: #fff;
}

h2 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 22px;
  font-weight: 400;
}
h2,
h2 b {
  color: #26292E;
  font-size: 2.2rem;
}
h2::before {
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 65%;
  height: 5px;
  background: #936F49;
  transition: 1s;
}
h2::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 5px;
  background: #936F49;
  transition: 1s;
}
h2.element-hide::before {
  opacity: 0;
  left: -50%;
}
h2.element-hide::after {
  opacity: 0;
  right: -50%;
}

h3 {
  color: #26292e;
  font-weight: 400;
  font-size: 1.6rem;
}

h4 {
  color: #26292E;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 147.5%; /* 38.35px */
}

h5 {
  color: #26292E;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 175%; /* 38.808px */
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 17px 0;
  background: #936F49;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  transition: 0.5s;
}
.btn:hover {
  background: #715538;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #936F49;
  color: #936F49;
}
.btn-outline:hover {
  color: #fff;
  background: #936F49;
}

.header {
  background: #26292E;
  height: 140px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  padding: 40px 76px 40px 100px;
  height: 100%;
}
.header-container a {
  color: #BEB8B1;
  font-size: 0.9em;
  transition: 0.5s;
}
.header-container a:hover {
  color: #936F49;
}
.header-container .header__nav .nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
.header-container .header__nav .nav__list .nav__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-container .header__nav .nav__list .nav__item img {
  width: 26px;
  height: 26px;
  transition: 0.5s;
}
.header-container .header__nav .nav__list .nav__item:hover img {
  transform: rotate(-180deg);
}
.header-container .header__languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.header-container .header__languages .languages__item.active a {
  color: #936F49;
}

.hero {
  position: relative;
  background-image: url("../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  padding: 120px 74px 80px 100px;
  z-index: 10;
}
.hero-container .hero__title {
  margin-bottom: 5px;
}
.hero-container .hero__subtitle {
  margin-bottom: 120px;
  color: #fff;
  font-size: 1.5em;
  line-height: 135%;
}
.hero-container .hero__links {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.hero-container .hero__links .links__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero-container .hero__links .links__item a {
  color: #fff;
  text-decoration: underline;
  transition: 0.5s;
}
.hero-container .hero__links .links__item path {
  transition: 0.5s;
}
.hero-container .hero__links .links__item:hover a {
  color: #936F49;
}
.hero-container .hero__links .links__item:hover path {
  fill: #936F49;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  padding: 112px 235px 95px 140px;
}
.about-container .about__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
}
.about-container .about__left h2 {
  margin-bottom: 4px;
  width: 243px;
}
.about-container .about__left h2::after, .about-container .about__left h2::before {
  content: "";
}
.about-container .about__left .about__subtitle {
  color: #26292E;
  margin-bottom: 50px;
  white-space: nowrap;
}
.about-container .about__left img {
  width: 348px;
  height: 302px;
  transition: 2s;
}
.about-container .about__left img.element-hide {
  opacity: 0;
  transform: rotate(-90deg);
}
.about-container .about__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  max-width: 495px;
  height: 520px;
}
.about-container .about__content .content__title {
  margin-bottom: 40px;
  transform: translateY(0px);
  transition: 1s;
}
.about-container .about__content .content__title.element-hide {
  opacity: 0;
  transform: translateY(-80px);
}
.about-container .about__content .content__text {
  margin-bottom: 110px;
  line-height: 175%; /* 35px */
  transform: translateY(0px);
  transition: 1s 0.5s;
}
.about-container .about__content .content__text.element-hide {
  opacity: 0;
  transform: translateX(40px);
}
.about-container .about__content .content__btn {
  transition: 1s 1s;
}
.about-container .about__content .content__btn.element-hide {
  opacity: 0;
}

.video {
  background: #26292E;
}

.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: unset;
  min-height: 563px;
}
.video-container .video__player {
  display: block;
  min-width: 756px;
  min-height: 100%;
  transition: 1s;
}
.video-container .video__player.element-hide {
  opacity: 0;
}
.video-container .video__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-width: calc(100% - 756px);
  min-height: 100%;
  transform: translateX(0px);
  transition: 1s 0.5s;
}
.video-container .video__content.element-hide {
  opacity: 0;
  transform: translateX(60px);
}
.video-container .video__content .content__title,
.video-container .video__content b,
.video-container .video__content .content__text {
  width: 400px;
  color: #BEB8B1;
  padding: 0;
}

.services-container {
  padding: 70px 170px 124px 122px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 94px;
}
.services-container h2::after, .services-container h2::before {
  content: "";
}
.services-container .services__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  flex-wrap: wrap;
}
.services-container .services__list .services__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 495px;
  margin-bottom: 90px;
  transform: translateY(0px);
  transition: 1s;
}
.services-container .services__list .services__item:nth-child(2n) {
  transition: 1s 0.5s;
}
.services-container .services__list .services__item.element-hide {
  opacity: 0;
  transform: translateY(-20px);
}
.services-container .services__list .services__item .item__img {
  width: 100px;
  height: 100px;
  margin-left: -16px;
}
.services-container .services__list .services__item .item__subtitle {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-bottom: 20px;
}
.services-container .services__list .services__item .item__text {
  line-height: 175%; /* 35px */
}

.help {
  padding: 100px;
  padding-top: 48px;
  background-image: url("../assets/help-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.help-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
.help-container .help-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  max-width: 730px;
  transform: translateX(0px);
  transition: 1s;
}
.help-container .help-left.element-hide {
  opacity: 0;
  transform: translateX(-50px);
}
.help-container .help-left .help__subtitle {
  color: #c7c7c7;
  line-height: 175%; /* 63px */
}
.help-container .help-left .help__title {
  color: #fff;
}
.help-container .help-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  max-width: 375px;
  transform: translateX(0px);
  transition: 1s 0.5s;
}
.help-container .help-right.element-hide {
  opacity: 0;
  transform: translateX(50px);
}
.help-container .help-right .help__text {
  color: #c7c7c7;
}
.help-container .help-right .help__btn {
  padding: 10px 0;
  width: 317px;
}

.projects-container {
  padding: 107px 170px 150px 140px;
}
.projects-container .projects__title {
  margin-bottom: 4px;
}
.projects-container .projects__title:after, .projects-container .projects__title::before {
  content: "";
}
.projects-container .projects__subtitle {
  margin-bottom: 92px;
}
.projects-container .projects__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  flex-wrap: wrap;
}
.projects-container .projects__list .project__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  width: 335px;
  margin-bottom: 40px;
  overflow: hidden;
  transform: translateY(0px);
  transition: 1s;
}
.projects-container .projects__list .project__item:nth-child(2), .projects-container .projects__list .project__item:nth-child(5) {
  transition: 1s 0.5s;
}
.projects-container .projects__list .project__item:nth-child(3), .projects-container .projects__list .project__item:nth-child(6) {
  transition: 1s 1s;
}
.projects-container .projects__list .project__item.element-hide {
  opacity: 0;
  transform: translateY(-40px);
}
.projects-container .projects__list .project__item .item__img {
  margin-bottom: 20px;
  scale: 1.22;
}
.projects-container .projects__list .project__item .item__subtitle {
  color: #26292E;
  font-size: 0.8rem;
  line-height: 175%; /* 29.106px */
}

.benefits {
  background: #26292E;
  padding: 108px 100px 120px 140px;
}

.benefits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
.benefits-container .benefits__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  max-width: 420px;
}
.benefits-container .benefits__left .benefits__title {
  margin-bottom: 4px;
}
.benefits-container .benefits__left .benefits__title, .benefits-container .benefits__left .benefits__title b {
  color: #BEB8B1;
}
.benefits-container .benefits__left .benefits__title::after, .benefits-container .benefits__left .benefits__title::before {
  content: "";
}
.benefits-container .benefits__left .benefits__subtitle {
  margin-bottom: 56px;
}
.benefits-container .benefits__left .benefits__cubes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 170px;
  margin-bottom: 70px;
}
.benefits-container .benefits__left .benefits__cubes .cubes__item {
  width: 46.67px;
  height: 46.67px;
  background: #BEB8B1;
  transition: 2s;
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item {
  opacity: 0;
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(1) {
  transform: translate(-20px, -20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(2) {
  transform: translateY(-20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(3) {
  transform: translate(20px, -20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(4) {
  transform: translateX(-20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(6) {
  transform: translateX(20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(7) {
  transform: translate(-20px, 20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(8) {
  transform: translateY(20px);
}
.benefits-container .benefits__left .benefits__cubes.element-hide .cubes__item:nth-child(9) {
  transform: translate(20px, 20px);
}
.benefits-container .benefits__left .benefits__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
}
.benefits-container .benefits__left .benefits__list .benefits__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: translate(0);
  transition: 1s;
}
.benefits-container .benefits__left .benefits__list .benefits__item:nth-child(2) {
  transition: 1s 0.5s;
}
.benefits-container .benefits__left .benefits__list .benefits__item:nth-child(3) {
  transition: 1s 1s;
}
.benefits-container .benefits__left .benefits__list .benefits__item.element-hide {
  opacity: 0;
  transform: translateY(40px);
}
.benefits-container .benefits__left .benefits__list .benefits__item h2,
.benefits-container .benefits__left .benefits__list .benefits__item .item__subtitle {
  text-align: center;
  color: #BEB8B1;
  padding: 0;
}
.benefits-container .benefits__left .benefits__list .benefits__item .item__subtitle {
  font-size: 0.8rem;
}
.benefits-container .benefits__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  max-width: 478px;
}
.benefits-container .benefits__content .content__title {
  color: #BEB8B1;
  margin-bottom: 40px;
  transition: 1s;
}
.benefits-container .benefits__content .content__title-2 {
  transition-delay: 1s;
}
.benefits-container .benefits__content .content__text {
  margin-bottom: 45px;
  line-height: 175%;
  transition: 1s 0.5s;
}
.benefits-container .benefits__content .content__text-2 {
  transition-delay: 1.5s;
}
.benefits-container .benefits__content .content__btn {
  margin-top: 30px;
  transition: 1s 2s;
}
.benefits-container .benefits__content.element-hide .content__btn, .benefits-container .benefits__content.element-hide .content__text, .benefits-container .benefits__content.element-hide .content__title {
  transform: translateY(-40px);
  opacity: 0;
}

.team {
  padding: 104px 145px 100px 100px;
}

.team-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 40px;
  flex-wrap: wrap;
}
.team-container .team__title {
  width: 100%;
  margin-right: calc(100% - 207px);
  margin-bottom: 46px;
}
.team-container .team__title::after, .team-container .team__title::before {
  content: "";
}
.team-container .team__director-img {
  width: 559px;
  height: 717px;
}
.team-container .team__director-img img {
  scale: 1.22;
}
.team-container .team__director {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  max-width: 534px;
}
.team-container .team__director .director__post {
  color: #936F49;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 175%; /* 28px */
}
.team-container .team__director .director__text {
  color: #26292E;
  font-size: 1.2rem;
  line-height: 175%;
  transform: translate(0);
  transition: 1s;
}
.team-container .team__director.element-hide .director__text {
  transform: translateX(40px);
  opacity: 0;
}
.team-container .team__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  width: 100%;
}
.team-container .team__list .team__employee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
  transform: translate(0);
  transition: 1s;
}
.team-container .team__list .team__employee:nth-child(2) {
  transition-delay: 0.5s;
}
.team-container .team__list .team__employee:nth-child(3) {
  transition-delay: 1s;
}
.team-container .team__list .team__employee:nth-child(4) {
  transition-delay: 1.5s;
}
.team-container .team__list .team__employee.element-hide {
  opacity: 0;
  transform: translateY(-40px);
}
.team-container .team__list .team__employee .employee__img {
  width: 255px;
  height: 340px;
  overflow: hidden;
}
.team-container .team__list .team__employee .employee__img img {
  scale: 1.22;
}
.team-container .team__list .team__employee .employee__name {
  margin-top: 18px;
}

.footer {
  background: #26292E;
  padding: 87px 130px 54px 140px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  flex-wrap: wrap;
}
.footer-container .footer__title {
  margin-bottom: 84px;
  margin-right: calc(100% - 315px);
}
.footer-container .footer__title b {
  color: #fff;
}
.footer-container .footer__title::after, .footer-container .footer__title::before {
  content: "";
}
.footer-container .footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: unset;
  width: 100%;
}
.footer-container .footer__contacts .contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: unset;
  flex-wrap: wrap;
  max-height: 584px;
}
.footer-container .footer__contacts .contacts__item .item__title {
  color: #936F49;
  font-weight: 400;
  margin-bottom: 45px;
  line-height: normal;
}
.footer-container .footer__contacts .contacts__item .item__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
  margin-bottom: 67px;
}
.footer-container .footer__contacts .contacts__item .item__content .content__title {
  color: #fff;
  font-weight: 400;
}
.footer-container .footer__contacts .contacts__item .item__content p,
.footer-container .footer__contacts .contacts__item .item__content a {
  color: #BEB8B1;
  transition: 0.5s;
}
.footer-container .footer__contacts .contacts__item .item__content .contacts__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.footer-container .footer__contacts .contacts__item .item__content .contacts__social path {
  transition: 0.5s;
}
.footer-container .footer__contacts .contacts__item .item__content a:hover {
  color: #936F49;
}
.footer-container .footer__contacts .contacts__item .item__content a:hover path {
  fill: #936F49;
}
.footer-container .footer__contacts .contacts__item .item__content .content__offer {
  color: #936F49;
}
.footer-container .footer__contacts .contacts__item:first-child .content__title {
  margin-bottom: 12px;
}
.footer-container .footer__contacts .contacts__item:last-child {
  width: 460px;
}
.footer-container .footer__contacts .contacts__item:last-child .item__content:last-child {
  margin-top: 75px;
  margin-left: 72px;
}/*# sourceMappingURL=main.css.map */